/*inicio configs padrao*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #fff;
    background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/*final configs padrao*/

/*inicio mensagens de sucesso e erro*/
div#msg-sucesso{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50,205,50,.3);
    border: 1px solid rgb(34,139,34);
    border-radius: 13px;
    color: #000;
}

div.msg-erro{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250,128,114,.3);
    border: 1px solid rgb(165,42,42);
    border-radius: 13px;
    color: #000;
}
/*final mensagens de sucesso e erro*/

/*inicio menu*/

 #menu ul{
    list-style-type: none;
    padding: 0;
    background-color: rgb(37,37,39);
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    color:white;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .6;
}

#menu ul li a:hover{
    background-color: rgb(160,4,4);
}

#menu ul li a#config{
    float: right;
}

#menu ul li a#sair{
    float: right;
    background-color: rgb(160,4,4);
    color:white;
}
/*fim menu*/

/*Inicio usuário*/

/*Inicio área de acesso ao estabelecimento*/

#inicio{
    background-image: url("../imagens/fundoinicio.jpg");
   
}
div#acesso{
    height: 350px;
    width: 60%;
    color: white;
    margin: 25px auto 0px auto;
}

div#cupons{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 25px auto 0px auto;
    height: 150px;
    width: 56.8%;
    border-radius: 13px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 25px;
}
#cupons h3{
    padding: 15px;
    text-align: center;
}
#cpm{
    background-color: white;
    border: 1px dotted rgb(160, 4, 4);
    color: black;
    border-radius: 15px;
    margin: 25px auto 0px auto;
    height: 120px;
    width: 150px;
    margin: 0px auto;
    text-align: center;
    align-items: center;
}

div#buttons{
    display: flex;
    flex-direction: row;
}

div#acesso h1, h2{
    padding: 20px;
    margin: 25px 20px 30px 20px;
    text-align: center;
}

div#buttons button{
    background-color: rgb(160,4,4);
    border: none;
    cursor: pointer;
    display: block;
    height: 150px;
    width: 250px;
    margin: 0px auto;
    border-radius: 30px;
    border:1px solid black;
    font-size: 16pt;
    padding: 5px 10px;
    text-align: center;
    transition: 0.3s;
    color: white;
}

#cpm button{
    background-color: rgb(160,4,4);
    border: none;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 100px;
    margin: 0px auto;
    border-radius: 30px;
    border:1px solid black;
    font-size: 16pt;
    padding: 5px 10px;
    text-align: center;
    transition: 0.3s;
    color: white;
}

#cpm button:hover{
    background-color: rgb(220,1,1);
}

div#buttons button a{
    text-decoration: none;
    color: white;
}

div#buttons button:hover{
  background-color: rgb(220,1,1);
}
/*Final área de acesso ao estabelecimento*/
/*Final Inicio usuário*/

/*Início Estabelecimento*/

#logo{
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#logo img{
    width: 100vh;
    height: 200px;
    border-radius: 70px;
    border: 3px solid black;
}

#funcoes-restaurante ul{
    list-style-type: none;
    padding: 0;
    background-color: rgb(37,37,39);
}

#funcoes-restaurante ul li{
    display: inline;
}

#funcoes-restaurante ul li a{
    color:white;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .6;
}

#funcoes-restaurante ul li a:hover{
    background-color: rgb(160,4,4);
}

#resumo-mesas{
    background-color: rgba(0, 0, 0, 0.1);
}

#legendas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}
#ocupado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(160,4,4);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    justify-content: center;
    border: 2px solid black;
    border-radius: 75px;
    margin: 10px;
    font-size: 12px;
}
#disponivel{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(1, 134, 1);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    justify-content: center;
    border: 2px solid black;
    border-radius: 75px;
    margin: 10px;
    font-size: 12px;
}
#pedido-ativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(94, 3, 117);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    justify-content: center;
    border: 2px solid black;
    border-radius: 75px;
    margin: 10px;
    font-size: 12px;
}

#mesas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
}

#mesas img{
    padding: 15px;
    width: 120px;
    height: 80px;
    border-radius: 50px;
}

#item-est{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(1, 134, 1);
    color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}
#item-est-oc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(160,4,4);
    color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}
#item-est-ped{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(94, 3, 117);
    color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

/*Final Início Estabelecimento*/

/*Inicio Cardapios*/

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#cardapio-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(160,4,4);
    height: 100px;
    padding: 10px 20px;   
}
#cardapio-top h1{
    font-size: 50px;
    font: bolder;
}

#mesa{
    padding: 10px;
    float:center;
}

#mesa input{
    border-color: rgb(160,4,4);
    text-align: center;
    border-radius: 15px;
    color: rgb(160,4,4);
    width: 120px;
    height: 40px;
    font-size: 0.5cm;
}
#mesa input::placeholder{
    color: rgb(160,4,4);
}

#mesa h1{
    color: rgb(160,4,4);
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

#box{
    width: auto;
    justify-content: space-around;
}

#cardapio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    width: auto;
}

#cardapio img{
    padding: 30px;
    width: 200px;
    height: 150px;
    border-radius: 50px;
   
}

#item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(160, 4, 4);
    border-color: rgb(160, 4, 4);
    margin: 10px;
    border-radius: 15px;
    padding: 25px;
    border: 2px dotted rgb(160,4,4);
    width: 270px;
    height: 426px;
}

#item:hover{
    font-size: larger;
    border: 2px solid rgb(160,4,4);
}

#item p{
    width: 190px;
    height: 30px;
}
#item h2{
    padding: 0px;
}

#item button{
    background-color: rgb(160,4,4);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#item button:hover{
    background-color: rgb(220,1,1);
}
#cardapio h3{
    text-align: center;
    padding: 10px;
    color: rgb(160, 4, 4);
}

#item p{
    font-size: 14px;
    color: rgb(160, 4, 4);
}

#confirma-pedido{
    padding: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

button#acesso-comanda{
    width: 250px;
    height: 80px;
    background-color: rgb(160,4,4);
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover#acesso-comanda{
    background-color: rgb(220,1,1);
}

button#acesso-comanda a{
    color: #fff;
    text-decoration: none;
}

#rodape{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(160,4,4);
    height: 70px;
    padding: 10px 20px;
}

#rodape p{
    color: #fff;
}

#btn-editar{
    padding: 20px;
}

#btn-editar button{
    width: 150px;
    height: 130px;
    background-color: rgb(160,4,4);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#btn-editar button:hover{
    background-color: rgb(220,1,1);
}

#btn-editar button.save{
    float: right;
}
#btn-editar a{
    text-decoration: none;
    color: #FFF;
}

/*Final Cardapios*/

/*Área de login e cadastro*/
.body-index{
    background-image: url("../imagens/fachada.jpg");
}
.login-container{
    
    margin-bottom: 5%;
}
.nav-item{
    background: #d3d3d3e3;
    border-radius: 10px 10px 0 0;
}
.login-form-1{
    padding: 5%;
    background: #FFFFFF;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #be0000de;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #be0000de;
}

.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #be0000de;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #333;
    font-weight: 600;
    text-decoration: none;
}


.form-group 
{
 padding:10px;	
}
